.wrapper{
min-width:1200px;
}




/*menu*/

.menu {
　　padding: 1% 10%;
　　width: 100%;
}
.aaa{
float:left;
width:20%;
text-align: center;
}
.aaa img {
    width:50%;
}
.zdo_drawer_button{
display:none;
}




.bbb{
float:left;
display:block;
text-align: center;
width: 16%;
padding:2% 0%;
}
.bbb p{
font-size:1vw;
}
.bbb span{
font-size:0.5vw;
}

.top-1{
width:100%;
display:none;
background-color: #444444;
padding:2% 0%;
text-align:center;
}
.top-1 ul li{
float:left;
width:5%;
padding:2% 0%;
margin-left: 15%;
}
.top-1 ul li a {
font-size:1vw;
color:#fff;

}
/*menu一つ目*/
.ccc{
float:left;
display:block;
text-align: center;
width: 16%;
padding:2% 0%;
}
.ccc p{
font-size:1vw;
}
.ccc span{
font-size:0.5vw;
}
.top-2{
  width:100%;
display:none;
background-color: #444444;
padding:2% 0%;

}
.top-2 ul li{
float:left;
width:10%;
padding:2% 0%;
font-size:1vw;
color:#fff;
}
.top-2 ul li a {
font-size:1vw;
color:#fff;

}
/*menu二つ目*/
.ddd{
float:left;
text-align: center;
width: 16%;
padding:2% 0%;
}
.ddd p{
font-size:1vw;
}
.ddd span{
font-size:0.5vw;
}
/*menu三つ目、四つ目*/
.eee{
float:left;
display:block;
text-align: center;
width: 16%;
padding:2% 0%;
}
.eee p{
font-size:1vw;
}
.eee span{
font-size:0.5vw;
}
.top-3{
  width:100%;
display:none;
background-color: #444444;
padding:2% 0%;
}
.top-3 ul li{
padding:2% 0%;
}
.top-3 ul li a {
font-size:1vw;
color:#fff;

}
/*menu五つ目*/




/*menu　終わり*/




/*footer はじめ*/

.footer{
background-color: rgb(192,192,192,0.3);
display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
 -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack: center;
   -ms-flex-pack: center;
    justify-content: center;
width: 100%;
    padding: 3% 5%;
}

.footer-L{
display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
 -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack: center;
   -ms-flex-pack: center;
    justify-content: center;
width: 70%;
}

.footer-L1{
height: 200px;
    padding: 0% 2%;
    width: 20%;
}

.footer-L1 h2{
font-size: 0.5VW;
    text-align: center;
}


.footer-L1 ul{
border-left: 1px solid;
    padding-left: 10%;
    line-height: 1.5em;
margin-left: 30%;
    margin-top: 5%;
}

.footer-L1 ul li{
font-size: 0.5VW;
}

.footer-L2{
height: 200px;
    padding: 0% 2%;
    width: 20%;
}

.footer-L2 h2{
font-size: 0.5VW;
    text-align: center;
}


.footer-L2 ul{
border-left: 1px solid;
    padding-left: 10%;
    line-height: 1.5em;
margin-left: 2%;
    margin-top: 5%;
}

.footer-L2 ul li{
font-size: 0.5VW;
}

.footer-L3{
height: 200px;
    padding: 0% 2%;
    width: 20%;
}

.footer-L3 h2{
font-size: 0.5VW;
    text-align: center;
}


.footer-L3 ul{
border-left: 1px solid;
    padding-left: 10%;
    line-height: 1.5em;
margin-left: 25%;
    margin-top: 5%;
}

.footer-L3 ul li{
font-size: 0.5VW;
}

.footer-L4{
height: 200px;
    padding: 0% 2%;
    width: 20%;
}

.footer-L4 h2{
font-size: 0.5VW;
    text-align: center;
}


.footer-L4 ul{
border-left: 1px solid;
    padding-left: 10%;
    line-height: 1.5em;
margin-left: 8%;
    margin-top: 5%;
}

.footer-L4 ul li{
font-size: 0.5VW;
}

.footer-L4-sabu{
font-weight: 700;
}

.footer-R{
display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
 -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack: center;
   -ms-flex-pack: center;
    justify-content: center;
width: 30%;
}

.footer-R1{
width: 30%;
}

.footer-R1 img{
width: 80%;
}

.footer-R2{
width: 70%;
}

.footer-R2 p{
font-size: 0.5VW;
line-height: 2.5em;
}

/*footer 終わり*/




/*ここからtop.htmlのcss*/
.top-mein{
background-image: url(photo/top-back.jpg);
    height: 688px;
    padding-top: 15%;
    width: 100%;
    padding-left: 5%;
}

.top-mein h2{
font-size: 10VW;
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    letter-spacing: 0.4em;
    font-weight: 500;
    padding: 2%;
}

.top-mein h3{
font-size: 3VW;
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    letter-spacing: 0.7em;
    font-weight: 100;
    opacity: 0.7;
}

.top-mein-sabu{
color: #CC0000;
}

.top-mein i{
background: linear-gradient( to right, #6633CC 25%, #FF3399 75% );
    -webkit-background-clip: text;
    color: transparent;
    font-size: 5VW;
    padding-top: 10%;
}


/*ここまでtop.htmlのcss*/




/*curriculum はじめ*/

.curri-top{
background-image: url(photo/curri-top.jpg);
    background-position: center;
    background-size: cover;
    height: 250px;
    position: relative;

}

.curri-top-text{
background-color: rgba(0,0,0,0.5);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
text-align: center;
    color: #FFF;
    padding-top: 5%;
    line-height: 1.5;
}

.curri-top-text h2{
font-size: 2VW;
}

.curri-top-text p{
font-size: 0.5VW;
}




.curri-mein{
margin: 0% 15%;
    border-left: solid 1px rgb(178,163,129,0.2);
    border-right: solid 1px rgb(178,163,129,0.2);
}

.curri-B1all{
padding: 8% 0%;
}

.curri-title{
text-align: center;
    padding: 5%;
}

.curri-title h2{
font-size: 2VW;
}

.curri-block1{
border: solid 3px #880000;
    padding: 2%;
}

.curri-B1{
display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.curri-B1-a{
width: 50%;
    padding: 2% 7%;
    line-height: 1.5;
}

.curri-B1-a h2{
color: #880000;
    font-size: 1.5VW;
}

.curri-B1a-sabu{
font-size: 3VW;
}

.curri-B1-a p{
font-size: 0.5VW;
    color: rgb(0,0,0,0.8);
}




.curri-block2{
background-color: rgb(178,163,129,0.2);
    padding: 3% 15%;
}

.curri-B2-a{
text-align: center;
    line-height: 2;
    padding: 1%;
}

.curri-B2-a h2{
font-weight: 500;
    font-size: 1.5VW;
}

.curri-B2-a p{
font-size: 0.8VW;
}

.curri-B2-b{
 display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
 -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack: center;
   -ms-flex-pack: center;
    justify-content: center;
}

.curri-B2B-a{
 display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
 -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack: center;
   -ms-flex-pack: center;
    justify-content: center;
width: 100%;
}

.curri-B2B-b{
width: 30%;
}

.curri-B2B-b img{
width: 100%;
}

.curri-B2B-c{
width: 70%;
    padding: 2%;
    line-height: 1.5;
}

.curri-B2B-c h2{
font-size: 1VW;
    font-weight: 300;
}

.curri-B2B-c p{
font-size: 0.5VW;
    padding: 2% 0%;
}




.curri-block3{
padding: 8% 0%;

}

.curri-B3-a{
box-shadow: 1px 5px 10px rgba(0,0,0,0.25);
    border: solid 1px #C0C0C0;
}

.curri-B3-a h2{
color: #FFF;
    background-color: #000;
    text-align: center;
    padding: 2%;
    font-size: 1.5VW;
    letter-spacing: 0.4em;
}

.curri-B3-A{
 display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
 -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack: center;
   -ms-flex-pack: center;
    justify-content: center;
width: 100%;
}

.curri-B3a-1{
width: 50%;
    text-align: center;
border-right: solid 1px #C0C0C0;
}

.curri-B3a-1 h3{
color: #FFF;
    background-color: #000;
    padding: 2%;
    font-size: 1.5VW;
    margin: 0% 20%;
    border-radius: 5px;
}

.curri-B3a-2{
width: 50%;
text-align: center;
padding: 2%;
}

.curri-B3A2{
 display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
 -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack: center;
   -ms-flex-pack: center;
    justify-content: center;
width: 100%;
color: #880000;
    padding:3%;
    font-size: 2VW;
}

.curri-B3A2 h3{
font-weight: 500;
}

.curri-B3a-2 p{
font-size: 1VW;
    line-height: 1.5;
}

.curri-B3-b{
padding-top: 7%;
}

.curri-B3-b h2{
font-weight: 300;
    font-size: 1VW;
}

.curri-B3b-sabu{
color: #880000;
    font-size: 2VW;
    font-weight: 600;
}

.curri-B3b-sabu2{
color: #880000;
    font-weight: 300;
    font-size: 1.5VW;
}

.curri-B3b-bosu{
padding: 3% 1%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
width: 100%;
}

.curri-B3b-1{
display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
width: 33%;
}

.curri-B3b-1-L{
font-size: 2.5VW;
    color: #880000;
    font-weight: 500;
}

.curri-B3b-1-R{
padding: 3%;
line-height: 1.3;
}

.curri-B3b-1-R h4{
color: #880000;
}

.curri-B3b-1-R p{
font-size: 1VW;
}




.curri-block4{
background-color: rgb(178,163,129,0.2);
    padding: 5% 15%;
}

.curri-block4 h2{
font-weight: 300;
    text-align: center;
    font-size: 2VW;
    padding: 2%;
}

.curri-B4-1{
padding: 2%;
}

.curri-B4-title{
display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
font-size: 1VW;
}

.curri-B4-title h3{
background-color: #880000;
    color: #FFF;
    padding: 0.5% 1%;
    margin-right: 1%;
}

.curri-B4-cell{
display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.curri-cell-1{
width: 25%;
    margin: 0.1%;
    background-color: #880000;
    color: #FFF;
    text-align: center;
    padding: 1%;
}

.curri-cell-2{
width: 55%;
    margin: 0.1%;
    background-color: #880000;
    color: #FFF;
    text-align: center;
    padding: 1%;
}

.curri-cell-3{
width: 20%;
    margin: 0.1%;
    background-color: #880000;
    color: #FFF;
    text-align: center;
    padding: 1%;
}

.curri-B4-cell2{
display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
font-size: 1VW;
}

.curri-cell{
padding: 2% 0%;
}

.curri-cell2-1{
width: 25%;
    margin: 0.1%;
    text-align: center;
    padding: 1%;
background-color: #FFF;
}

.curri-cell2-2{
width: 55%;
    margin: 0.1%;
    text-align: center;
    padding: 1%;
background-color: #FFF;
}

.curri-cell2-3{
width: 20%;
    margin: 0.1%;
    text-align: center;
    padding: 1%;
background-color: #FFF;
}

/*curriculum 終わり*/




/*member　はじめ*/

.member-block1{
box-shadow: 5px 1px 30px rgba(0, 0, 0, 1);
    margin: 10% 0%;
}

.member-B1-flex{
display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.member-B1-L{
width: 40%;
    padding: 2%;
}

.member-B1-L img{
width:100%;
}

.member-B1-R{
width: 60%;
    padding: 5% 0%;
}

.member-B1-R h2{
font-size: 1VW;
    text-align: center;
    line-height: 1.5;
}

.member-B1-R h3{
text-align: center;
    color: #880000;
    padding: 3%;
    font-size: 0.8VW;
}

.member-B1-R p{
font-size: 0.5VW;
    letter-spacing: 0.4em;
    padding: 0% 15%;
    line-height: 1.5;
}

.member-B1-p{
padding: 3% 0%;
}

/*member　終わり*/




/*fee はじめ*/

.fee-block1{
padding: 5% 20%;
}

.fee-B1-cell{
padding: 2%;
    line-height:3;
}

.fee-B1-cell h2{
font-size: 2VW;
    text-align: center;
}

.fee-B1-flex{
display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

.fee-B1-flex i{
color: #880000;
    padding-right: 1%;
}




.fee-block2{
text-align: center;
    padding: 2%;
}

.fee-block2 h2{
font-size: 2vW;
    padding-bottom: 5%;
}

.fee-B2-flex{
display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
 -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack: center;
   -ms-flex-pack: center;
    justify-content: center;
width: 100%;
}

.fee-B2-cell{
box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
    margin: 1%;
    width: 20%;
}

.fee-B2cell-T{
color: #FFF;
    background-color: rgb(0,0,0,0.9);
    font-size: 1.4VW;
    line-height: 1.5;
    height: 130px;
    padding-top:25%;
}

.fee-B2cell-T h3{
font-weight: 500;
}

.fee-B2cell-M{
border-top: solid 1px rgb(178,163,129,0.2);
    border-bottom: solid 1px rgb(178,163,129,0.2);
    padding: 5%;
    line-height: 1.5;
}

.fee-B2cell-M p{
font-size: 0.5VW;
}

.fee-B2cell-M h4{
font-weight: 300;
}

.fee-B2-cell2{
box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
    width: 30%;
}

.fee-B2cell2-T{
color: #FFF;
    background-color:#880000;
    font-size: 1.4VW;
    line-height: 1.5;
    height: 130px;
    padding-top: 15%;
}

.fee-B2cell2-T p{
font-size:1VW;
}


.fee-B2cell2-T h3{
font-weight: 500;
}

.fee-B2cell2-M{
border-top: solid 1px rgb(178,163,129,0.2);
    border-bottom: solid 1px rgb(178,163,129,0.2);
    padding: 5%;
    line-height: 1.5;
}

.fee-B2cell2-M p{
font-size: 0.5VW;
}

.fee-B2cell2-M h4{
font-weight: 300;
}




.fee-attention{
padding: 7% 2%;
    font-size: 0.5VW;
}

.fee-attention-sabu{
color: #880000;
}

.fee-block3{
padding: 5% 3%;
}

.fee-block3 h2{
font-size: 1.5VW;
    border-left: solid 3px rgb(0,0,0,0.9);
    padding: 1%;
    margin: 3% 0%;
}

.fee-B3-flex{
display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.fee-B3-L{
width: 50%;
    padding: 0% 5%;
    letter-spacing: 0.4em;
    line-height: 1.5;
    font-size: 0.7VW;
}

.fee-B3-R{
width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
padding: 5%;
background-color: rgb(192,192,192,0.3);
    border-radius: 5px;
}

.fee-B3R-1{
text-align: center;
    width: 50%;
}

.fee-B3R-1 h3{
color: #FFF;
    border-radius: 5px;
    background-color: rgb(0,0,0,0.9);
    padding: 20%;
    font-size: 0.5VW;
}

.fee-B3R-2{
width: 50%;
    padding: 2%;
    line-height: 1.5;
}

.fee-B3R-2 p{
font-size: 0.5VW;
}

.fee-B3R-2 h3{
font-size: 1VW;
    color: #880000;
}




.fee-block4{
padding: 5% 0%;
}

.fee-block4 h2{
font-size: 2vW;
    padding-bottom: 5%;
    text-align: center;
}

.fee-B4-flex{
display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    border: solid 2px rgb(0,0,0,0.9);
    border-radius: 5px;
    padding: 2%;
height: 120px;
}

.fee-B4-flex i{
padding: 2%;
    width: 25%;
    font-size: 5VW;
    font-weight: 400;
    text-align: center;
}

.fee-B4-text{
    line-height: 1.5;
}

.fee-B4-Tsabu{
border-radius: 5px;
    background-color: #880000;
    color: #FFF;
    padding: 1% 5%;
    font-size: 0.5VW;
margin-left: 15%;
}

.fee-B4-Tsabu2{
color: #880000;
    font-size: 0.5VW;
margin-left: 15%;
}

.fee-B4-text p{
padding-top: 3%;
    font-size: 0.5VW;
}

.fee-B4-flex2{
width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.fee-B4-flex2 i{
width: 50%;
    font-size: 5VW;
}

.fee-B4-i{
font-size: 5VW;
    text-align: center;
}




.fee-block5{
padding: 5% 0%;
}

.fee-B5-title{
padding-bottom: 5%;
    text-align: center;
    line-height: 1.5;
}

.fee-B5-title h2{
font-size: 2VW;
}

.fee-B5-title p{
font-size: 0.5VW;
}

.fee-B5-flex{
display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
 -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack: center;
   -ms-flex-pack: center;
    justify-content: center;
}

.fee-B5-cell{
padding: 2%;
    text-align: center;
    width: 20%;
}

.fee-B5-cell h3{
font-size: 1.5VW;
    border-bottom: solid 1px rgb(0,0,0,0.7);
    padding: 15%;
}

.fee-B5-cell p{
border-bottom: solid 1px rgb(0,0,0,0.7);
    padding: 15%;
    font-size: 0.5VW;
}

.fee-B5-cell2{
text-align: center;
    width: 20%;
    border: solid 2px #880000;
    margin: 2%;
}

.fee-B5-cell2 h3{
font-size: 1.5VW;
    border-bottom: solid 1px #880000;
    padding: 15%;
    background-color: #880000;
}

.fee-B5-cell2 p{
border-bottom: solid 1px #880000;
    padding: 15%;
    font-size: 0.5VW;
}

/*fee 終わり*/




/*q-a　はじめ*/

.q-a-block1{
padding: 5% 0%;
}

.q-a-B1{
border-top: solid 1px rgb(178,163,129,0.2);
    border-bottom: solid 1px rgb(178,163,129,0.2);
    padding: 3% 0%;
}

.q-a-B1-flex{
display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

.q-a-B1-flex i{
width: 50%;
    text-align: right;
    padding: 0% 2%;
    font-weight: 100;
    font-size: 2VW;
}

.q-a-B1-flex p{
font-size: 1VW;
    width: 50%;
}

.q-a-B1-sabu{
background-color: rgb(0,0,0,0.8);
    color: #FFF;
    padding: 2%;
margin-right: 5%;
}

.q-a-B1cell{
padding-top: 3%;
    width: 100%;
}

.q-a-B1cell p{
width: 50%;
}

.q-a-B1-sabu2{
background-color: #666633;
    color: #FFF;
    padding: 2%;
    margin-right: 5%;
font-size: 1VW;
}

.q-a-B1-sabu3{
color: #666633;
font-size: 0.8VW;
}

/*q-a　終わり*/




/*contact　はじめ*/

.contact-top{
background-image: url(photo/contact.jpg);
    background-position: center;
    background-size: cover;
    height: 250px;
    position: relative;

}

.contact-top-text{
background-color: rgba(0,0,0,0.5);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
text-align: center;
    color: #FFF;
    padding-top: 7%;
    line-height: 1.5;
}

.contact-top-text h2{
font-size: 3VW;
}

.contact-top-text p{
font-size: 1VW;
}




.contact-block1{
padding: 5%;
}

.contact-B1-flex{
display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.contact-B1-cell{
width: 30%;
    font-size: 1VW;
    line-height: 2.5;
    height: 50px;
}

.contact-B1-cell i{
color: #880000;
    font-size: 2VW;
}

.contact-B1-cell2 i{
font-weight: 300;
    font-size: 2VW;
}

.contact-B1-cell2{
width: 10%;
}

.contact-B1-cell3{
width: 30%;
    font-size: 1VW;
    line-height: 2.5;
    height: 50px;
}

.contact-B1-cell3 i{
font-size: 0.5VW;
}




.contact-block2{
padding: 5%;
    text-align: center;
}

.contact-B2-T{
letter-spacing: 0.1em;
    line-height: 1.5;
}

.contact-B2-T h2{
color: #880000;
    font-weight: 100;
    font-size: 2VW;
}

.contact-B2-T h3{
font-size: 1.3VW;
    font-weight: 100;
    color: #222222;
}

.contact-B2-T2{
padding: 2% 0%;
}

.contact-B2-T2 p{
font-size: 0.5VW;
    letter-spacing: 0.4em;
    line-height: 1.5;
}




.contact-block3{
padding: 3% 0%;
}

.contact-block3 h2{
text-align: center;
    color: #880000;
    font-size: 1.5VW;
    font-weight: 100;
    padding: 3%;
}

.contact-B2-cell{
border-top: solid 1px rgb(178,163,129,0.7);
    border-bottom: solid 1px rgb(178,163,129,0.7);
}

.contact-B2-mein{
height: 200px;
    overflow: scroll;
    background-color: rgb(178,163,129,0.2);
}

.contact-B2-1{
padding: 2%;
    font-size: 1VW;
    line-height: 2;
}

.contact-B2-mein2{
text-align: center;
    padding: 3%;
}




.contact-block4{

}

.contact-block4 h2{
text-align: center;
    color: #880000;
    font-size: 1.5VW;
    font-weight: 100;
    padding: 3%;
}

.contact-B4-flex{
display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
border-top: solid 1px rgb(178,163,129,0.2);
}

.contact-B4-cell{
padding: 10% 0%;
    border-right: solid 1px rgb(178,163,129,0.2);
width: 30%;
font-size: 1VW;
height: 185px;
}

.contact-B4-sabu{
background-color: #880000;
    font-size: 0.5VW;
    color: #FFF;
    padding: 2%;
margin-left: 5%;
}

.contact-B4-cell1{
width: 70%;
    padding: 2%;
}

.comment{
width: 553px;
    margin: 0px;
    height: 146px;
}

.contact-B4-cell5{
border-top: solid 1px rgb(178,163,129,0.2);
    border-bottom: solid 1px rgb(178,163,129,0.2);
    text-align: center;
    padding: 5%;
    margin-bottom: 5%;
}

.contact-B4-cell5 h3{
background-color: #880000;
    color: #FFF;
    padding: 3%;
    margin: 0% 32%;
}




/*contact　終わり*/




/*ここからcompany書いて生きます*/

.company img{
width:100%;
height:50vh;
position:relative;
}
.company-write{
position:absolute;
top:25%;
left:45%;
text-align: center;
}
.company-write p{
font-size:2.5vw;
color:#fff;
line-height:1.5;
}
.company-write span{
font-size:1vw;
color:#fff;
}

.content{
padding:0% 15%;
}
.content-up{
padding:3% 0%;
text-align: center;
}
.content-up h3{
font-size:3vw;
letter-spacing:0.2em;
line-height:2;
}
.content-up p{
font-size:1vw;
letter-spacing:0.2em;
line-height:2;
font-weight:bold;
}
.content-up2{
border-bottom:1px solid;
padding:1% 0%;
width:15%;
margin-left:42.5%;
margin-right:42.5%;
}
.content-down{
padding:5% 0%;
}
.content-down1{
width:100%;
box-shadow:5px 10px 20px rgba(0,0,0,0.25);
display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
 -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack: center;
   -ms-flex-pack: center;
    justify-content: center;
}
.content-down1-left{
width:40%;
padding:0% 2%;
}

.content-down1-left img{
width:100%;
}
.content-down1-left img:hover{
 opacity: 0.5;
  transition: .3s;
}

.content-down1-right{
width:60%;
padding:0% 2%;
}
.content-down1-rightup1{
padding:2% 0%;
text-align: center;
}
.content-down1-rightup1 h3{
font-size:2vw;
line-height:1.5;
}
.content-down1-rightup2{
padding:1% 0%;
text-align: center;
}
.content-down1-rightup2 span{
font-size:1vw;
line-height:1.5;
color:#BB0000;
letter-spacing: 0.2em;
}
.content-down1-rightdown{
padding:2% 0%;
text-align: left;
}
.content-down1-rightdown p{
font-size:0.5vw;
line-height:1.5;
letter-spacing:0.2em;
}

.respon-content-down{
display:none;
}








.about{
padding:10% 0%;
}
.about-content{
  width:100%;
  display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
   -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack: center;
     -ms-flex-pack: center;
      justify-content: center;
      padding:3% 0%;
}
.about-content-l{
width:49%;
margin-right: 1%;
text-align:right;
}
.about-content-l span{
font-size:1vw;
font-weight:bold;
}
.about-content-l p{
font-size:1vw;
}
.about-content-r{
width:49%;
margin-left: 1%;
}
.about-content-r span{
font-size:1vw;
font-weight:bold;
}
.about-content-r p{
font-size:1vw;
}
.message-content{
margin-bottom:10%;
}

.message-content-con{
  width:100%;
  box-shadow:5px 10px 20px rgba(0,0,0,0.25);
  display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
   -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack: center;
     -ms-flex-pack: center;
      justify-content: center;
      padding:3% 0%;
}
.message-content-con-l{
width:60%;
padding:2% 2%;
}
.message-content-con-l-up{
text-align:center;
}
.message-content-con-l-up h3{
font-size:1.5vw;
font-weight:bold;
}
.message-content-con-l-up p{
font-size:1.5vw;
font-weight:bold;
padding:2% 0%;
}
.message-content-con-l-down{
padding:2% 0%;
}
.message-content-con-l-down p{
font-size:0.8vw;
line-height:2;
letter-spacing:0.2em;
}


.message-content-con-r{
width:40%;
padding:2% 2%;
}
.message-content-con-r img{
width:100%;
}
.message-content-con-r img:hover{
  opacity: 0.5;
   transition: .3s;
}
.respon-message-content-con{
display:none;
}



/*company終わり*/
